.social-media-panel {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}

.social-media-card{
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
    width: 200px;
    display: inline-block;
  }
  
  .social-media-card .card-image{
    max-width: 60%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .social-media-card .card-title{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: hsl(0, 0%, 20%);
  }
  
  .social-media-card .card-text{
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(0, 0%, 30%);
  }
  
  .social-media-card button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .social-media-card button:hover {
    background-color: #0056b3;
  }